<div class="col-12 col-sm-10 col-lg-7 text-center dark-box">
    <div class="row align-items-center">
        {% for point in points | sort((b, a) => a.date <=> b.date) |slice(0, 50) %}
            <div class="col-3">
                <a href="{{ path('student_show', {'id': point.student.id}) }}">
                    {% if point.student.avatar is empty %}
                        {%  if point.student.isGirl == 1 %}
                            <img src="{{ asset('images/emoticon-pouces-f.png') }}"
                                alt="{{ point.student.firstname }} {{ point.student.lastname }}"
                                class="emoticon-info-small">
                        {% else %}
                            <img src="{{ asset('images/emoticon-pouces-m.png') }}"
                                alt="{{ point.student.firstname }} {{ point.student.lastname }}"
                                class="emoticon-info-small">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('avatars/' ~ point.student.avatar) }}"
                            alt="{{ point.student.firstname }} {{ point.student.lastname }}"
                            class="emoticon-info-small">
                    {% endif %}
                    <br>{{ point.student.firstname }}
                </a>
            </div>
            <div class="col-3">
                {{ point.reason.sentence }}
            </div>
            <div class="col-2">
                <div class="win-smallbox">
                        {% if point.quantity > 0 %}
                            + {{ point.quantity }}
                        {% else %}
                            - {{ -point.quantity }}
                        {% endif %}
                        {% if point.type == "gold" %}
                            <img src="{{ asset('images/gold.png') }}" alt="Or">
                        {% else %}
                            <img src="{{ asset('images/elixir.png') }}" alt="Elixir">
                        {% endif %}
                    </div>
            </div>
            {% if is_granted('ROLE_TEACHER') %}
                <div class="col-2">
            {% else %}
                <div class="col-4">
            {% endif %}
                {{ point.date ? point.date|date('d/m/Y à H:i') : '' }}
            </div>
            {% if is_granted('ROLE_TEACHER') %}
                <div class="col-2">
                    <form method="post" action="{{ path('point_delete', {'id': point.id, 'student': point.student.id}) }}"
                            onsubmit="return confirm('Voulez-vous vraiment supprimer cette action ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ point.id) }}">
                        <button class="btn"><img src="{{ asset('images/icone-delete.png') }}" class="small-icone"></button>
                    </form>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 text-center">
                Aucune activité pour l'instant
            </div>
        {% endfor %}
    </div>
</div>
