{% extends 'base.html.twig' %}

{% block title %}New Point{% endblock %}

{% block body %}
<div class="col-12 text-center">
    <h3>Ajout
        {% if point.type == "gold" %}d'Or {% else %}d'Elixir {% endif %} à {{ student.firstname }}</h3>
</div>
    <div class="col-12 text-center">
       <a href="{{ path('point_multiple_new', {'number': student.classgroup.id, 'type': point.type, 'winner': 'classgroup'}) }}">
           Ajout à plusieurs élèves ?
       </a>
    </div>
<div class="col-12 col-sm-10 col-lg-7 text-center">
    <div class="row">
        <div class="col-6">
            {{ student.firstname }}
        </div>
        <div class="col-6">
            {{ include('point/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('classgroup_show', {'id' : student.classgroup.id}) }}">Retour Classe</a>
</div>
{% endblock %}
