{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Ajout de points{% endblock %}

{% block body %}
    {% if studentsArray is defined %}
        <div class="col-12 text-center">
            <h3>Ajout
            {% if point.type == "gold" %}d'Or {% else %}d'Elixir {% endif %} à plusieurs élèves</h3>
        </div>
    {% elseif team is defined %}
        <div class="col-12 text-center">
            <h3>
                Ajout
                {% if point.type == "gold" %}d'Or {% else %}d'Elixir {% endif %} à une équipe
            </h3>
        </div>
    {% else %}
        <div class="col-12 text-center">
            <h3>Ajout
            {% if point.type == "gold" %}d'Or {% else %}d'Elixir {% endif %} à {{ student.firstname }}</h3>
        </div>
        <div class="col-12 text-center p-2">
           <a href="{{ path('point_multiple_new', {'number': student.classgroup.id, 'type': point.type, 'winner': 'classgroup'}) }}">
               Ajout à plusieurs élèves ?
           </a>
        </div>
    {% endif %}

    {% if studentsArray is defined %}
        <div class="col-4 text-center">
            <div class="form-check">
                {{ form_start(form) }}
                {{ form_row(form.student) }}
            </div>
        </div>
        <div class="col-4 text-center">
            {{ form_row(form.quantity) }}
            {{ form_widget(form.reason) }}
        </div>
        <div class="col-4 text-center pt-5">
            <button class="third-button">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="col-8 col-sm-5 col-lg-4 text-center">
            {{ include('point/_form.html.twig') }}
        </div>
        <div class="col-4 col-sm-3 col-lg-2 text-center my-auto">
            {% if team is defined %}
                <a href="{{ path('team_show', {'id': team.id}) }}" class="clear-box">
                    {{ team.name }}
                </a>
                <br>
                {% if point.type == 'gold' %}
                    <img src="{{ asset('images/gold.png') }}" alt="Or" class="small-icone">
                {% else %}
                    <img src="{{ asset('images/elixir.png') }}" alt="Elixir"  class="small-icone">
                {% endif %}
                <div class="p-4">
                    {% if point.type == "gold" %}
                    <a href="{{ path('point_team_new', {'id': team.id, 'type':'elixir'}) }}">
                        Elixir ?
                    </a>
                    {% else %}
                    <a href="{{ path('point_team_new', {'id': team.id, 'type':'gold'}) }}">
                        Or ?
                    </a>
                    {% endif %}
                </div>
            {% else %}
                <a href="{{ path('student_show', {'id': student.id}) }}">
                    <div class="clear-box">
                        {% if student.avatar is empty %}
                            {%  if student.isGirl == 1 %}
                                <img src="{{ asset('images/emoticon-pouces-f.png') }}"
                                     alt="{{ student.firstname }} {{ student.lastname }}"
                                     class="emoticon-info">
                            {% else %}
                                <img src="{{ asset('images/emoticon-pouces-m.png') }}"
                                     alt="{{ student.firstname }} {{ student.lastname }}"
                                     class="emoticon-info">
                            {% endif %}
                        {% else %}
                            <img src="{{ asset('avatars/' ~ student.avatar) }}"
                                 alt="{{ student.firstname }} {{ student.lastname }}"
                                 class="emoticon-info">
                        {% endif %}
                        <br>
                        {% if point.type == 'gold' %}
                            <img src="{{ asset('images/gold.png') }}" alt="Or" class="small-icone">
                        {% else %}
                            <img src="{{ asset('images/elixir.png') }}" alt="Elixir"  class="small-icone">
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="col-12 text-center pt-3">
        {% if studentsArray is defined %}
            <a href="{{ path('classgroup_show', {'id' : number}) }}">Retour Classe</a>
        {% elseif team is defined %}
            <a href="{{ path('team_show', {'id' : team.id}) }}">Retour équipe</a><br>
            <a href="{{ path('classgroup_show', {'id' : team.classgroup.id}) }}">Retour Classe</a>
        {% else %}
            <a href="{{ path('classgroup_show', {'id' : student.classgroup.id}) }}">Retour Classe</a>
        {% endif %}
    </div>

{% endblock %}
