{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Les équipes de {{ classgroup.name }}{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7">
    <h3>Les équipes de {{ classgroup.name }}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'équipe</th>
                <th>Membres</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.student | length }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">Détails</a>
                </td>
                <td>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune équipe dans cette classe</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center">
    <p>
        <a href="{{ path('team_new', {'classgroup': classgroup.id}) }}">Ajouter une équipe</a>
    </p>
    <p>
        <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">Retour à la classe</a>
    </p>
</div>
    {% endblock %}
