{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Les équipes de {{ classgroup.name }}{% endblock %}

{% block body %}
<div class="col-12 text-center">
    <h3>Les équipes de {{ classgroup.name }}</h3>
</div>
<div class="col-12">
    <div class="row justify-content-center">
        {% for team in teams %}
            <a href="{{ path('team_show', {'id': team.id}) }}">
                <div class="student-box">
                    <div>
                        <p>{{ team.name }}</p>
                    </div>
                </div>
            </a>
        {% else %}
                Aucune équipe dans cette classe
        {% endfor %}
    </div>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center">
    <p>
        <a href="{{ path('team_new', {'classgroup': classgroup.id}) }}">Ajouter une équipe</a>
    </p>
    <p>
        <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">Retour à la classe</a>
    </p>
</div>
    {% endblock %}
