{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Les équipes de {{ classgroup.name }}{% endblock %}

{% block body %}
    <h3>Les équipes de {{ classgroup.name }}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new', {'classgroup': classgroup.id}) }}">Create new</a>
{% endblock %}
