{% extends 'base.html.twig' %}

{% block title %}Classe Royale - {{ team.name }}{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7">
    <h3 class="text-center">{{ team.name }}</h3>

    {% for student in team.student %}
        {{ student.firstname }}
    {% else %}
        <p>Aucun élève dans cette équipe</p>
    {% endfor %}

    <p>
        <a href="{{ path('team_index', {'classgroup': team.classgroup.id}) }}">Retour aux équipes de la classe</a><br>
        <a href="{{ path('team_edit', {'id': team.id}) }}">Modifier</a>
    </p>

</div>
{% endblock %}
