{% extends 'base.html.twig' %}

{% block title %}Classe Royale - {{ team.name }}{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7">
    <h3 class="text-center">{{ team.name }} ({{ team.student | length }})</h3>
</div>
    <div class="col-12">
        <div class="row justify-content-center">
    {% for student in team.student %}
        <a href="{{ path('student_show', {'id': student.id}) }}">
            <div class="student-box">
                <div>
                    {% if student.avatar is empty %}
                        {% if student.isGirl == 1 %}
                            <img src="{{ asset('images/emoticon-pouces-f.png') }}" alt="{{ student.firstname }}">
                        {% else %}
                            <img src="{{ asset('images/emoticon-pouces-m.png') }}" alt="{{ student.firstname }}">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('avatars/' ~ student.avatar) }}"
                             alt="{{ student.firstname }}">
                    {% endif %}
                    <p>{{ student.firstname }}</p>
                </div>
            </div>
        </a>
    {% else %}
        <p>Aucun élève dans cette équipe</p>
    {% endfor %}
        </div></div>
    <div class="col-12 text-center">
    <p>
        <a href="{{ path('team_edit', {'id': team.id}) }}">Modifier ou ajouter des membres</a>
    </p>

    <p>
        <a href="{{ path('team_index', {'classgroup': team.classgroup.id}) }}">Retour aux équipes de la classe</a><br>
    </p>
</div>
{% endblock %}
