{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Les élèves{% endblock %}

{% block body %}
    <div class="col-12 text-center">
    {% if order == "alone" %}
        <h3>Les élèves sans classe</h3>
    {% else %}
        <h3>Tous les élèves</h3>
    {% endif %}
        <div class="row justify-content-center">
            {% for student in students %}
                <a href="{{ path('student_show', {'id': student.id}) }}">
                    <div class="student-box">
                        <div>
                            {% if student.avatar is empty %}
                                {% if student.isGirl == 1 %}
                                    <img src="{{ asset('images/emoticon-pouces-f.png') }}" alt="{{ student.firstname }}">
                                {% else %}
                                    <img src="{{ asset('images/emoticon-pouces-m.png') }}" alt="{{ student.firstname }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('avatars/' ~ student.avatar) }}"
                                     alt="{{ student.firstname }}">
                            {% endif %}
                            <p>{{ student.firstname }} {{ student.lastname }}
                                {% if student.section is not null %}
                                     ({{ student.section.abbreviation }})
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
