{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Ine</th>
                <th>IsGirl</th>
                <th>DateCreate</th>
                <th>DateModif</th>
                <th>IsLead</th>
                <th>Xp</th>
                <th>Gold</th>
                <th>Elixir</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.ine }}</td>
                <td>{{ student.isGirl ? 'Yes' : 'No' }}</td>
                <td>{{ student.dateCreate ? student.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.dateModif ? student.dateModif|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.isLead ? 'Yes' : 'No' }}</td>
                <td>{{ student.xp }}</td>
                <td>{{ student.gold }}</td>
                <td>{{ student.elixir }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>
{% endblock %}
