{% extends 'base.html.twig' %}

{% block body %}
<div class="col-12 text-center">
    <h3>{{ student.classgroup.name }}</h3>
</div>

<div class="col-12 col-sm-10 col-lg-7 text-center clear-box mt-4">
    <p>Voulez-vous vraiment retirer {{ student.firstname }} {{ student.lastname }} de cette classe ?</p>
    <p class="p-1">
        <a href="{{ path('student_remove', {'id': student.id, 'delete': 1}) }}" class="text-danger">Oui, retirer</a>
    </p>
    <p class="p-1">
        <a href="{{ path('classgroup_show', {'id': student.classgroup.id}) }}" class="m-2">Non, retour à la classe</a>
    </p>
</div>
{% endblock %}

{% block title %}
Classe Royale - Retirer un élève
{% endblock %}

