{% extends 'base.html.twig' %}

{% block title %}{{ student.firstname }} {{ student.lastname }}{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>{{ student.firstname }} {{ student.lastname }}</h3>
    </div>

    <div class="col-12 col-sm-10 col-lg-7 text-center clear-box">
        <div class="row">
            <div class="col-4 ">
                {% if student.avatar is empty %}
                    {%  if student.isGirl == 1 %}
                        <img src="{{ asset('images/emoticon-pouces-f.png') }}"
                             alt="{{ student.firstname }} {{ student.lastname }}"
                             class="emoticon-info">
                    {% else %}
                        <img src="{{ asset('images/emoticon-pouces-m.png') }}"
                             alt="{{ student.firstname }} {{ student.lastname }}"
                             class="emoticon-info">
                    {% endif %}
                {% else %}
                    <img src="{{ asset('avatars/' ~ student.avatar) }}"
                         alt="{{ student.firstname }} {{ student.lastname }}"
                         class="emoticon-info">
                {% endif %}
                {% if is_granted('ROLE_TEACHER') %}
                    <br><a href="{{ path('student_edit_avatar', {'id': student.id}) }}">Modifier</a>
                {% endif %}
                {% if is_granted('ROLE_PARENT') %}
                    {% for child in app.user.students %}
                            {% if child == student %}
                                <br><a href="{{ path('student_edit_avatar', {'id': student.id}) }}">Modifier</a>
                            {% endif %}
                    {% endfor %}
                {% endif %}
                <p class="pt-3">XP : {{ student.xp }}</p>
            </div>
            <div class="col-6 pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="win-box">
                            <img src="{{ asset('images/gold.png') }}" alt="Or">{{ student.gold }}
                        </div>
                    </div>
                    <div class="col-1 my-auto">
                        {% if is_granted('ROLE_TEACHER') %}
                            <a href="{{ path('point_new', {'id' : student.id, 'type' : 'gold'}) }}">
                                <img src="{{ asset('images/add.png') }}" class="add-icone">
                            </a>
                        {% endif %}
                    </div>
                    <div class="offset-2 col-4">
                        <div class="win-box">
                                <img src="{{ asset('images/elixir.png') }}" alt="Elixir"> {{ student.elixir }}
                        </div>
                    </div>
                    <div class="col-1 my-auto">
                        {% if is_granted('ROLE_TEACHER') %}
                            <a href="{{ path('point_new', {'id' : student.id, 'type' : 'elixir'}) }}">
                                <img src="{{ asset('images/add.png') }}" class="add-icone">
                            </a>
                        {% endif %}    
                    </div>
                    <div class="col-12 pt-4 win-box-cards">
                        <a href="{{ path('card_index_student', {'student' : student.id}) }}">
                            <img src="{{ asset('images/cards.png') }}">
                        </a> {{ student.cards | length }}
                    </div>
                    <div class="col-12 pt-5 small-text">
                        {% if student.section is not null %}
                            {{ student.section.abbreviation }}<br>
                        {% endif %}
                        {{ student.classgroup.name }}<br>
                        Joueur depuis le {{ student.dateCreate ? student.dateCreate|date('d/m/Y') : '' }}<br>
                        Responsable des élèves : {{ student.isLead ? 'Oui' : 'Non' }}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center mt-3">
        {% if student.classgroup is not null %}
        <a href="{{ path('classgroup_show', {'id' : student.classgroup.id}) }}">
            Classe de {{ student.firstname }}
        </a>
        {% endif %}
        {% if is_granted('ROLE_DIRECTOR') or is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
            <br><a href="{{ path('student_edit', {'id': student.id}) }}">
                Modifier l'élève
            </a><br>
        {% endif %}
        {% if is_granted('ROLE_PARENT') %}
            {% for child in app.user.students %}
                    {% if child == student %}
                        <br><a href="{{ path('parent_remove_student', {'id': student.id}) }}">
                        Retirer {{ student.firstname }} de mon comte
                        </a><br>
                    {% endif %}
            {% endfor %}
        {% endif %}


    </div>

    <div class="col-12 text-center mt-3">
        <h3>Dernières actions</h3>
    </div>

    <div class="col-12 col-sm-10 col-lg-7 text-center dark-box">
        <div class="row align-items-center">
            {% for point in student.points | reverse %}
                <div class="col-2 p-3">
                    {{ point.date |date("d/m/Y") }}
                </div>
                {% if is_granted('ROLE_TEACHER') %}
                    <div class="col-6 p-3">
                {% else %}
                    <div class="col-8 p-3">
                {% endif %}
                    "{{ point.reason.sentence }}"
                </div>
                <div class="col-2 p-3">
                    <div class="win-smallbox">
                        {% if point.quantity > 0 %}
                            + {{ point.quantity }}
                        {% else %}
                            - {{ -point.quantity }}
                        {% endif %}
                        {% if point.type == "gold" %}
                            <img src="{{ asset('images/gold.png') }}" alt="Or">
                        {% else %}
                            <img src="{{ asset('images/elixir.png') }}" alt="Elixir">
                        {% endif %}
                    </div>
                </div>
                {% if is_granted('ROLE_TEACHER') %}
                    <div class="col-2 p-3">
                        <form method="post" action="{{ path('point_delete', {'id': point.id, 'student': student.id}) }}"
                            onsubmit="return confirm('Voulez-vous vraiment supprimer cette action ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ point.id) }}">
                            <button class="btn"><img src="{{ asset('images/icone-delete.png') }}" class="small-icone"></button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <div class="col text-center">
                    Aucune activité enregistrée
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
