{% extends 'base.html.twig' %}

{% block title %}Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <p class="p-4">Bienvenue sur Classe Royale !</p>
        <p>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mon profil</a><br>
            <a href="{{ path('home') }}">Mes cartes</a>
        </p>
    </div>

{% endblock %}
