{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Enseignant{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 text-center">
        
        <h3 class="pt-4 text-center">Mes classes</h3>
        <div class="row justify-content-center pt-2">
            {% for classgroup in app.user.classgroups %}
                <a href="{{ path('classgroup_show', {id : classgroup.id}) }}">
                    <div class="student-box">
                    {{ classgroup.name }}
                    </div>
                </a>
            {% else %}
                Aucune classe rattachée
            {% endfor %}
        </div>
        
        <h3 class="pt-4 text-center">Mes écoles</h3>
        {% for classgroup in app.user.classgroups %}
            <a href="{{ path('school_show', {id : classgroup.school.id}) }}">
                {{ classgroup.school.name }} ({{ classgroup.school.city }})
            </a><br>
        {% else %}
            Aucune école actuellement - <a href="{{ path('school_choose') }}">Choisir une école</a>
        {% endfor %}
    </div>
{% endblock %}
