{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Enseignant{% endblock %}

{% block body %}
    <div class="col-12 col-md-7">
        <p>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</p>
        <h3>Mes classes</h3>
        <div class="row">
            {% for classgroup in app.user.classgroups %}
                    <a href="{{ path('classgroup_show', {id : classgroup.id}) }}">
                        <div class="choice-button text-center">
                           {{ classgroup.name }}
                        </div>
                    </a>
            {% else %}
                    Aucune classe rattachée
            {% endfor %}
            <a href="{{ path('classgroup_new') }}">
                <div class="choice-button">
                    <img src="{{ asset('images/add.png') }}"
                         alt="Ajouter une classe" class="add-button"
                         title="Ajouter une classe">
                </div>
            </a>
        </div>

    </div>
{% endblock %}
