{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Enseignant{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 text-center">
        {% for classgroup in app.user.classgroups %}
            <h5 class="pt-4 text-center">
                {{ classgroup.school.name }} ({{ classgroup.school.city }})
                <a href="{{ path('school_show', {id : classgroup.school.id}) }}">-></a>
            </h5>
            <div class="row justify-content-center">
                {% for class in classgroup.school.classgroups %}
                    {% if class == classgroup %}
                        <a href="{{ path('classgroup_show', {id : class.id}) }}">
                            <div class="student-box">
                            {{ class.name }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="{{ path('classgroup_choose', {school : classgroup.school.id}) }}">
                    <div class="student-box bg-light">
                        <img src="{{ asset('images/add.png') }}"
                            alt="Ajouter une classe" class="add-button"
                            title="Ajouter une classe">
                    </div>
                </a>
            </div>
        {% else %}
            Aucune école actuellement - <a href="{{ path('school_choose') }}">Choisir une école</a>
        {% endfor %}
    </div>
{% endblock %}
