{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Enseignant{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 text-center">
        <p>Ajouter une classe : <a href="{{ path('invite_teacher') }}">code d'invitation enseignant</a></p>
        {% for school in schools %}
            <h5 class="text-center">
                <a href="{{ path('school_show', {id : school.id}) }}" title="Accèder à l'école">
                    <img src="{{ asset('images/tour-school.png') }}"
                        alt="Ecole" 
                        class="logo-school">
                </a>
                {{ school.name }}
            </h5>
            <p class="city-subtitle">{{ school.city }}</p>
            
            <div class="row justify-content-center pb-2">
                {% for classgroup in school.classgroups %}
                    {% for teacher in classgroup.teacher %}
                        {% if teacher == app.user %}
                            <a href="{{ path('classgroup_show', {id : classgroup.id}) }}">
                                <div class="student-box">
                                {{ classgroup.name }}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune école actuellement - <a href="{{ path('school_choose') }}">Choisir une école</a></p>
        {% endfor %}
    </div>
{% endblock %}
