{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Enseignant{% endblock %}

{% block body %}
    <div class="col-12 col-md-7">
        <p>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</p>
        {% if school is null %}
            Aucune école actuellement - <a href="{{ path('school_choose') }}">Choisir une école</a>
        {% else %}
            <a href="{{ path('school_show', {id : school.id}) }}">
                {{ school.name }} ({{ school.city }})
            </a>
        {% endif %}
        {% if school is not null %}
            <h3 class="pt-4">Mes classes</h3>
            <div class="row">
                {% for classgroup in app.user.classgroups %}
                        <a href="{{ path('classgroup_show', {id : classgroup.id}) }}">
                            <div class="choice-button text-center">
                            {{ classgroup.name }}
                            </div>
                        </a>
                {% else %}
                        Aucune classe rattachée
                {% endfor %}
            
                <a href="{{ path('classgroup_choose', {school : school.id}) }}">
                    <div class="choice-button">
                        <img src="{{ asset('images/add.png') }}"
                            alt="Ajouter une classe" class="add-button"
                            title="Ajouter une classe">
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
