{% extends 'base.html.twig' %}

{% block title %}
    Classe Royale - Invitation enseignant
{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 col-lg-5 text-center">
        <h2 class="mb-4">Invité(e) à enseigner ?</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="third-button">{{ button_label|default('Valider ce code') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="col-12 text-center">
        <a href="{{ path('home') }}">Retour</a>
    </div>
    <div class="col-12 text-center pt-4">
        <p>Si vous n'avez pas de code :</p>
        <a href="{{ path('classgroup_new') }}">
            <button class="primary-button">Créer une classe manuellement</button>
        </a>
    </div>

{% endblock %}
