{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Levels de jeu{% endblock %}

{% block body %}
    <h1>Levels de jeu</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>XP de base</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level.id }}</td>
                <td>{{ level.name }}</td>
                <td>{{ level.xp }}</td>
                <td>{{ level.image }}</td>
                <td>
                    <a href="{{ path('level_show', {'id': level.id}) }}">Détails</a>
                    <a href="{{ path('level_edit', {'id': level.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun level trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('level_new') }}">Nouveau level</a>
{% endblock %}
