{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Level de jeu{% endblock %}

{% block body %}
    <h2>Level de jeu</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ level.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ level.name }}</td>
            </tr>
            <tr>
                <th>XP de base</th>
                <td>{{ level.xp }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ level.image }}</td>
            </tr>
        </tbody>
    </table>
    <div class="col-12 text-center">
        <a href="{{ path('level_index') }}">Liste des levels</a><br>

        <a href="{{ path('level_edit', {'id': level.id}) }}">Modifier</a><br>
    </div>
{% endblock %}
