{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h1>Sections existantes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Abbréviation</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.name }}</td>
                <td>{{ section.abbreviation }}</td>
                <td>{{ section.ranking }}</td>
                <td>
                    <a href="{{ path('section_edit', {'id': section.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune section actuellement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Ajouter une section</a>
</div>
{% endblock %}
