{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>
                    <a href="{{ path('job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Create new</a>
{% endblock %}
