{% extends 'base.html.twig' %}

{% block title %}Les métiers - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>Tous les métiers</h3>
    </div>
    <div class="col-12">
        <div class="row m-2 justify-content-center">
            {% for job in jobs %}
                <div class="col-4 clear-box mt-2 text-center">
                    <h5>{{ job.title }}</h5>
                    <p class="text-left">{{ job.description }}</p>
                    {% if job.classgroup != null or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('job_edit', {'id': job.id}) }}">Modifier</a> - 
                        <a href="{{ path('job_delete', {'id': job.id}) }}">Retirer</a>
                    {% endif %}
                </div>
                <div class="col-8 dark-box mt-2 text-center">
                    {% if job.classgroup == null %}
                        Ce métier est <a href="{{ path('job_index_admin') }}">global</a>
                    {% else %}
                        Métier attaché à 
                        <a href="{{ path('classgroup_show', {'id': job.classgroup.id}) }}">
                            {{ job.classgroup.name }}
                        </a>
                    {% endif %}
                </div>
            {% else %}
                Aucun métier actuellement
            {% endfor %}
            <div class="col-2 mt-2 clear-box text-center">
            {% if classgroup is null %}
                <a href="{{ path('job_new', {'classgroup': null}) }}">
            {% else %}
                <a href="{{ path('job_new', {'classgroup': classgroup.id}) }}">
            {% endif %}
                
                    <img src="{{ asset('images/add.png') }}"
                        alt="Ajouter un métier" class="add-button"
                        title="Ajouter un métier">
                        <p>Nouveau métier</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
