{% extends 'base.html.twig' %}

{% block title %}Les métiers - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h3>Les métiers</h3>
        {% if classgroup != null %}
            <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">{{ classgroup.name }}</a>
        {% else %}
            Métiers inutilisés
        {% endif %}
    </div>
    <div class="col-12">
        <div class="row m-2 justify-content-center">
            {% for job in jobs %}
                <div class="col-4 clear-box mt-2 text-center">
                    <h5>{{ job.title }}</h5>
                    <p class="text-left">{{ job.description }}</p>
                    {% if job.classgroup != null or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('job_show', {'id': job.id}) }}">Gérer</a> - 
                        <a href="{{ path('job_edit', {'id': job.id}) }}">Modifier</a>
                    {% endif %}
                </div>
                <div class="col-7 dark-box m-2 text-center align-items-left">                    
                    <div class="row pl-2">
                        {% for occupation in job.occupations %}
                            <div class="clear-button">
                                {{ occupation.student.firstname }}
                            </div>
                        {% endfor %}
                        <div class="clear-button">
                            <a href="{{ path('occupation_add', {'job': job.id}) }}">
                                <img src="{{ asset('images/add.png') }}"
                                    alt="Ajouter un élève"
                                    title="Ajouter un élève">
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                Aucun métier actuellement
            {% endfor %}
            <div class="col-4 clear-box mt-2 text-center">
                {% if classgroup is null %}
                    <a href="{{ path('job_new', {'classgroup': null}) }}">
                {% else %}
                    <a href="{{ path('job_new', {'classgroup': classgroup.id}) }}">
                {% endif %}
                        <p>Nouveau métier</p>
                    </a>
            </div>
            <div class="col-7 m-2">  
            </div>
        </div>
    </div>

{% endblock %}
