{% extends 'base.html.twig' %}

{% block title %}{{ job.title }} - Classe Royale{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 col-lg-7 pt-3 text-center">
        <h3>{{ job.title }}</h3>
    </div>
    <div class="col-12 col-sm-10 col-lg-7 pt-3 text-center">
        <p>{{ job.description }}</p>
        <h4>Qui fait ce métier ?</h4>
        <div class="dark-box row">
            {% for occupation in job.occupations %}  
                <div class="clear-button">
                    <p>{{ occupation.student.firstname }}</p>
                    <a href="{{ path('occupation_remove', {'occupation': occupation.id}) }}">
                        <br><img src="{{ asset('images/icone-delete.png') }}"
                        alt="Retirer l'élève"
                        title="Retirer l'élève"
                        class="delete-img">
                    </a>
                </div>     
            {% endfor %}
            <div class="clear-button">
                <a href="{{ path('occupation_add', {'job': job.id}) }}">
                    <img src="{{ asset('images/add.png') }}"
                    alt="Ajouter un élève"
                    title="Ajouter un élève">
                </a>
            </div>
        </div>
        <h4>Informations</h4>
        {% if job.classgroup != null %}
            Ce métier appartient à  
            <a href="{{ path('classgroup_show', {'id': job.classgroup.id}) }}">
                {{ job.classgroup.name }}
            </a>
        {% else %}
            Ce métier n'est plus utilisé
        {% endif %}

        <p>
            <a href="{{ path('job_edit', {'id': job.id}) }}">Modifier ce métier</a>
        </p>

    </div>
    <div class="col-12 pt-3 text-center">

        {% if job.classgroup is null and is_granted('ROLE_ADMIN') %}
            <br><a href="{{ path('job_index_all') }}">Tous les métiers</a>
        {% else %}
            <a href="{{ path('job_index', {'classgroup': job.classgroup.id}) }}">Les métiers de la classe</a>
        {% endif %}
    </div>
{% endblock %}
