{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Aide et support{% endblock %}

{% block body %}
    <div class="col-12 col-md-7 text-center">
        <h3 class="mb-4">Aide et support</h3>
       
            {% for support in supports %} 
                    <div class="clear-box m-2">
                        <details>
                            <summary>{{ support.title }}</summary>
                            <div class="mt-3 text-left">{{ support.content }}</div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <br><a href="{{ path('support_edit', {'id': support.id}) }}" class="third-button">Modifier cet article</a>
                            {{ include('support/_delete_form.html.twig') }}
                        {% endif %}
                        </details>
                    </div>
            {% else %}
                <p>Aucune rubrique d'aide actuellement</p>
                
            {% endfor %}
            <a href="{{ path('contact') }}">
                <div class="clear-box m-2">
                    Je voudrais vous contacter
                </div>
            </a>
        
    </div>

    <div class="col-12 col-md-7 text-center">
        <br><a href="{{ path('mentions') }}">Mentions légales</a> 
    </div>

    <div class="col-12 col-md-7 text-center">
        {% if is_granted('ROLE_ADMIN') %}
            <br><a href="{{ path('support_new') }}">Créer un article</a> 
        {% endif %}
    </div>
{% endblock %}
