{% extends 'base.html.twig' %}

{% block title %}Classe Royale - {{ support.title }}{% endblock %}

{% block body %}

    <div class="col-12 col-md-7 text-left">
        <h3>{{ support.title }}</h3>
        {% autoescape %}
            {{ support.content | raw }}
        {% endautoescape %}
    </div>

    <div class="col-12 col-md-7 text-center">
        <br><a href="{{ path('support_index') }}">Retour au support</a>

        {% if is_granted('ROLE_ADMIN') %}
            <br><a href="{{ path('support_edit', {'id': support.id}) }}">Modifier cet article</a>
            {{ include('support/_delete_form.html.twig') }}
        {% endif %}

    </div>
{% endblock %}
