{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Administration{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center clear-box">
    <h3>Options générales</h3>
    <a href="{{ path('admin_addAdmin') }}" title="Ajouter un administrateur">Ajouter un administrateur</a><br>
    <a href="{{ path('option_index') }}" title="Options de Classe Royale">Options de Classe Royale</a><br>
    <a href="{{ path('section_index') }}" title="Gérer les sections">Sections et classes</a><br>
     <a href="{{ path('level_index') }}" title="Gérer les levels">Levels du jeu</a><br>
     <a href="{{ path('support_index') }}" title="Gérer la rubrique d'aide">Rubrique d'aide</a><br>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center clear-box mt-2">
    <h3>Gestion des cartes</h3>
    <a href="{{ path('card_index') }}" title="Les cartes">Les cartes</a><br>
    <a href="{{ path('subject_index') }}" title="Gérer les matières scolaires">Matières Scolaires</a><br>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center clear-box mt-2">
    <h3>Accès aux données</h3>
    <a href="{{ path('user_index') }}" title="Les utilisateurs">Les utilisateurs</a><br>
    <a href="{{ path('school_index') }}" title="Les écoles">Les écoles</a><br>
    <a href="{{ path('classgroup_index') }}" title="Les classes">Les classes</a><br>
    <a href="{{ path('student_index') }}" title="Les élèves">Les élèves</a><br>
    <a href="{{ path('student_index', {'order': 'alone'}) }}" title="Les élèves sans classe">Les élèves sans classe</a><br>
    <a href="{{ path('product_index') }}" title="Le magasin">Le magasin</a><br>
</div>

{% endblock %}
