{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Les cartes{% endblock %}

{% block body %}

<div class="col-12 text-center">
{% if subject is defined %}
    <h2>Cartes {{ subject.name }}</h2>
{% elseif type is defined %}
    <h2>Cartes {{ type }}</h2>
{% else %}
    <h2>Toutes les cartes</h2>
{% endif %}

    <div class="row justify-content-center">
        {% for card in cards %}
        <a href="{{ path('card_show', {'id': card.id}) }}">
            <div class="card-box">
                <div>
                    <p>{{ card.name }}<br>
                    <span class="level-text">niveau {{ card.level }}</span></p>
                    <img src="{{ asset('cards/' ~ card.image) }}" alt="{{ card.name }}">
                </div>
            </div>    
        </a>        
        {% else %}
            Aucune carte trouvée
        {% endfor %}
    </div>
</div>

<div class="col-12 text-center">
    {% if subject is defined or type is defined %}
        <a href="{{ path('card_index') }}">Toutes les cartes</a>
    {% endif %}
    <br>
    <a href="{{ path('card_new') }}">Ajouter une carte</a>
</div>
{% endblock %}
