{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center dark-box mt-2">
    <div class="row justify-content-center">
        <div class="offset-1 col-3">
        {% if student is not null %}
            {% set flag = '' %}
                {% for ownedCard in student.cards %}
                    {% if card == ownedCard and flag != 1 %}
                        <div class="card-box">
                        {% set flag = 1 %}
                    {% endif %}
                {% endfor %}
                {% if flag != 1 %}
                        <div class="card-box-grey">
                {% endif %}
        {% else %}
            <div class="card-box">
        {% endif %}
                <div>
                <p>{{ card.name }}<br>
                niveau {{ card.level }}</p>
                {% if card.image is null %}
                        <img src="{{ asset('images/default-card.png') }}" alt="{{ card.name }}">
                    {% else %}
                        <img src="{{ asset('cards/' ~ card.image) }}" alt="{{ card.name }}">
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-7 mt-3">
            <div class="row justify-content-center">
                <div class="col-6">
                    <p class="add-box">
                        <a href="{{ path('card_index_subject', {'id': card.subject.id}) }}">
                            {{ card.subject.name }}
                        </a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="add-box">
                        <a href="{{ path('card_index_type', {'type': card.type}) }}">
                            {{ card.type }}
                        </a>
                    </p>
                </div>
                
            </div>
            <p class="text-left">
                {{ card.description }}
            </p>
            {% if student is not null %}
                {% set flag = '' %}
                    {% for ownedCard in student.cards %}
                        {% if card == ownedCard and flag != 1 %}
                            <p class="text-center">
                                <a href="{{ path('card_win', {'card': card.id, 'student': student.id, 'remove': 'remove'}) }}">
                                    Retirer cette carte à {{ student.firstname }}
                                </a>
                            </p>
                            {% set flag = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if flag != 1 %}
                        <p class="text-center">
                            <a href="{{ path('card_win', {'card': card.id, 'student': student.id}) }}">
                                Débloquer la carte pour {{ student.firstname }}
                            </a>
                        </p>
                    {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center mt-2">
{% if student is not null %}
    <a href="{{ path('card_index_student', {'student': student.id}) }}">Les cartes de {{ student.firstname }}</a><br>
{% else %}
    <a href="{{ path('card_edit', {'id': card.id}) }}">Modifier la carte</a><br>
    <a href="{{ path('card_index') }}">Toutes les cartes</a>
{% endif %}
</div>
{% endblock %}
