{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center dark-box mt-2">
    <h3>{{ card.name }} - niveau {{ card.level }}</h3>
    <div class="row justify-content-center">
        <div class="offset-1 col-3">
            <div class="card-box">
                <div>
                <p>{{ card.name }}<br>
                niveau {{ card.level }}</p>
                <img src="{{ asset('cards/' ~ card.image) }}">
                </div>
            </div>
        </div>
        <div class="col-7 mt-3">
            <p>{{ card.description }}</p>
            <p>Type : {{ card.type }}</p>
        </div>
    </div>
</div>
<div class="col-12 col-md-10 col-lg-7 text-center mt-2">
    <a href="{{ path('card_edit', {'id': card.id}) }}">Modifier la carte</a><br>
    <a href="{{ path('card_index') }}">Toutes les cartes</a>
</div>
{% endblock %}
