{% extends 'base.html.twig' %}

{% block title %}Occupation{% endblock %}

{% block body %}
    <h1>Occupation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ occupation.id }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ occupation.dateStart ? occupation.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ occupation.dateEnd ? occupation.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ occupation.salary }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('occupation_index') }}">back to list</a>

    <a href="{{ path('occupation_edit', {'id': occupation.id}) }}">edit</a>

    {{ include('occupation/_delete_form.html.twig') }}
{% endblock %}
