{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        {% if student is not null %}
            <h2>Magasin de {{ student.firstname }}</h2>
            <a href="{{ path('student_show', {'id': student.id}) }}">
                Profil de {{ student.firstname }}
            </a>
        {% else %}
        <h2>Magasin</h2>
        {% endif %}
    </div>
    <div class="col-12 text-center">
        {% for product in products %}
            <div class="row align-items-center dark-box m-2">
                <div class="col-2 text-center">
                    {% if product.avatar is empty %}
                        <img src="{{ asset('images/shop.png') }}"
                                alt="{{ product.name }}"
                                class="emoticon-info">
                    {% else %}
                        <img src="{{ asset('product/' ~ product.avatar) }}"
                                alt="{{ product.name }}"
                                class="emoticon-info">
                    {% endif %}
                    <br>
                    {% if student is null %}
                        <a href="{{ path('product_show', {'id': product.id}) }}">
                    {% else %}
                        <a href="{{ path('product_show', {'id': product.id, 'student': student.id}) }}">
                    {% endif %}
                        {{ product.name }}
                    </a>
                </div>
                <div class="col-2 text-center">
                    {% if student is not null %}
                        <a href="{{ path('product_pay', {'id': product.id, 'student': student.id}) }}" 
                        class="third-button">Acheter</a>
                    {% endif %}
                </div>
                <div class="col-3 text-left">
                    {{ product.description }}
                </div>
                <div class="col-2 text-center">
                    <div class="win-smallbox">
                        - {{ product.price }}
                        {% if product.currency == "gold" %}
                            <img src="{{ asset('images/gold.png') }}" alt="Or">
                        {% else %}
                            <img src="{{ asset('images/elixir.png') }}" alt="Elixir">
                        {% endif %}
                    </div>
                </div>
                <div class="col-2 text-center">
                    {% if student is null %}
                        <a href="{{ path('product_show', {'id': product.id}) }}">Détails</a>
                    {% else %}
                        {% set numberPurchase = 0 %}
                        {% for purchase in student.purchases %}
                            {% if purchase.product == product %}
                                {% set numberPurchase = numberPurchase + 1 %}
                            {% endif %}     
                        {% endfor %}
                        {% if numberPurchase == 0 %}
                            Jamais acheté
                        {% else %}
                            Acheté {{ numberPurchase }} fois
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and student is null %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                    {% endif %}  
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center">
                Aucun achat possible
            </div>
        {% endfor %}
    </div>
    <div class="col-12 text-center">
        <a href="{{ path('product_new') }}">Ajouter un produit</a>
    </div>
{% endblock %}
