{% extends 'base.html.twig' %}

{% block title %}Magasin - page article{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h2>{{ product.name }}</h2>
    </div>

    <div class="col-3 text-center">            
        {% if product.avatar is empty %}
            <img src="{{ asset('images/shop.png') }}"
                    alt="{{ product.name }}"
                    class="emoticon-info">
        {% else %}
            <img src="{{ asset('product/' ~ product.avatar) }}"
                    alt="{{ product.name }}"
                    class="emoticon-info">
        {% endif %}
    </div>

    <div class="col-6 text-center">
        <p>{{ product.description }}</p>
    </div>

    <div class="col-3 text-center">            
        <p>{{ product.price }} {{ product.currency }}</p>
    </div>

    <div class="col-12 text-center">
        {% if student is not null %}
            <a href="{{ path('product_pay', {'id': product.id, 'student': student.id}) }}" class="third-button">Acheter pour {{ student.firstname }}</a><br>
            <a href="{{ path('product_index', {'student': student.id}) }}">Retour au magasin</a><br>
        {% else %}
            <a href="{{ path('product_index') }}">Retour au magasin</a><br>
        {% endif %}
        {% if is_granted('ROLE_TEACHER') %}
        {% set modif = 0 %}
            {% for classgroup in app.user.classgroups %}
                {% if product.classgroup == app.user.classgroups %}
                    {% set modif = 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or modif == 1) and student is null %}
            <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
        {% endif %}
    </div>
{% endblock %}
