{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        {% if student is not null %}
            <h2>Magasin de {{ student.firstname }}</h2>
            <a href="{{ path('student_show', {'id': student.id}) }}">
                Profil de {{ student.firstname }}
            </a>
        {% else %}
        <h2>Magasin</h2>
        {% endif %}
    </div>
    <div class="col-12 text-center">
        {% for purchase in purchases %}
            <div class="row align-items-center dark-box m-2">
                <div class="col-2 text-center">
                    {% if purchase.avatar is empty %}
                        <img src="{{ asset('images/shop.png') }}"
                                alt="{{ purchase.name }}"
                                class="emoticon-info">
                    {% else %}
                        <img src="{{ asset('purchase/' ~ purchase.avatar) }}"
                                alt="{{ purchase.name }}"
                                class="emoticon-info">
                    {% endif %}
                    <br>{{ purchase.name }}
                </div>
                <div class="col-2 text-center">
                    {% if student is not null %}
                        <a href="{{ path('purchase_pay', {'id': purchase.id, 'student': student.id}) }}" 
                        class="third-button">Acheter</a>
                    {% endif %}
                </div>
                <div class="col-3 text-left">
                    {{ purchase.description }}
                </div>
                <div class="col-2 text-center">
                    <div class="win-smallbox">
                        - {{ purchase.price }}
                        {% if purchase.currency == "gold" %}
                            <img src="{{ asset('images/gold.png') }}" alt="Or">
                        {% else %}
                            <img src="{{ asset('images/elixir.png') }}" alt="Elixir">
                        {% endif %}
                    </div>
                </div>
                <div class="col-2 text-center">
                    {% if student is null %}
                        <a href="{{ path('purchase_show', {'id': purchase.id}) }}">Détails</a>
                    {% else %}
                        {% set numberOldPurchase = 0 %}
                        {% for oldPurchase in student.purchases %}
                            {% if oldPurchase == purchase %}
                                {% set numberOldPurchase = numberOldPurchase + 1 %}
                            {% endif %}     
                        {% endfor %}
                        {% if numberOldPurchase == 0 %}
                            Jamais acheté
                        {% else %}
                            Acheté {{ numberOldPurchase }} fois
                        {% endif %}
                        <a href="{{ path('purchase_show', {'id': purchase.id, 'student': student.id}) }}">Détails</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and student is null %}
                        <a href="{{ path('purchase_edit', {'id': purchase.id}) }}">Modifier</a>
                    {% endif %}  
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center">
                Aucun achat possible
            </div>
        {% endfor %}
    </div>
    <div class="col-12 text-center">
        <a href="{{ path('purchase_new') }}">Ajouter un produit</a>
    </div>
{% endblock %}
