{% extends 'base.html.twig' %}

{% block title %}Magasin - page article{% endblock %}

{% block body %}
    <div class="col-12 text-center">
        <h2>{{ purchase.name }}</h2>
    </div>

    <div class="col-3 text-center">            
        <p>{{ purchase.avatar }}ici</p>
    </div>

    <div class="col-6 text-center">
        <p>{{ purchase.description }}</p>
    </div>

    <div class="col-3 text-center">            
        <p>{{ purchase.price }} {{ purchase.currency }}</p>
    </div>

    <div class="col-12 text-center">
    {% if student is not null %}
        <a href="{{ path('purchase_pay', {'id': purchase.id, 'student': student.id}) }}" class="third-button">Acheter pour {{ student.firstname }}</a><br>
    {% endif %}
        <a href="{{ path('purchase_index') }}">Retour au magasin</a><br>
        {% if is_granted('ROLE_TEACHER') %}
            {% for classgroup in app.user.classgroups %}
                {% if purchase.classgroup == app.user.classgroups %}
                    {% set modif = 1%}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or modif == 1 %}
            <a href="{{ path('purchase_edit', {'id': purchase.id}) }}">Modifier</a>
        {% endif %}
    </div>
{% endblock %}
