{{ form_start(form) }}
<p>
    Nom de l'option<br>
    {{ form_widget(form.property) }}
</p>
<p>
    Valeur<br>
    {{ form_widget(form.value) }}
</p>
    <button class="third-button">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
