{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">

    <h3>Option {{ option.property }} : {{ option.value }}</h3>

    <a href="{{ path('option_edit', {'id': option.id}) }}">Modifier</a><br>
    <a href="{{ path('option_index') }}">Liste des options</a>

    {{ include('option/_delete_form.html.twig') }}
</div>
{% endblock %}
