{% extends 'base.html.twig' %}

{% block title %}Classe Royale - Modifier une classe{% endblock %}

{% block body %}
<div class="col-12 col-md-10 col-lg-7 text-center">
    <h3>{{ classgroup.name }}</h3>

    {{ include('classgroup/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">Retour {{ classgroup.name }}</a><br>
    <a href="{{ path('school_show', {'id': classgroup.school.id}) }}">Retour {{ classgroup.school.name }}</a>

    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('classgroup/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
