{% extends 'base.html.twig' %}

{% block title %}Classgroup index{% endblock %}

{% block body %}
    <h1>Classgroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ref</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classgroup in classgroups %}
            <tr>
                <td>{{ classgroup.id }}</td>
                <td>{{ classgroup.name }}</td>
                <td>{{ classgroup.ref }}</td>
                <td>
                    <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">show</a>
                    <a href="{{ path('classgroup_edit', {'id': classgroup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('classgroup_new') }}">Create new</a>
{% endblock %}
