<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Invitation aux familles - {{ classgroup.name }}</title>
    </head>
    <body>

    <style>
        .text-center {
            text-align: center;
        }

        .bold {
            font-weight: 900;
        }
    </style>

    {% for student in classgroup.students %}
        <p class="bold">{{ student.firstname }} {{ student.lastname }}, {{ classgroup.name }}</p>
        <p>Votre enfant utilise l'application Classe Royale qui permet de rendre ludique ses acquis et ses activités.
        <br>Vous pouvez suivre à distance ses aventures sur ordinateur ou téléphone !</p>
        <p>Rendez-vous sur http://classeroyale.jejoueenclasse.fr<p>
        <ul>
            <li>Créez un compte gratuit (si vous n'en possédez pas)</li>
            <li>Ajoutez votre enfant avec le code : <span class="bold">{{ student.invit }}</span></li>
        </ul>
        <p>Ce code est partageable à tous ceux qui voudraient suivre votre enfant, 
        qu'ils rajouteront à leur propre compte.<p>
        <hr>
    {% endfor %}

    </body>
</html>
