{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12 text-center">
        <h3>{{ classgroup.name }}</h3>
    </div>
    <div class="row justify-content-center">
        <a href="{{ path('point_multiple_new', {'winner': 'classgroup', 'number': classgroup.id, 'type': 'gold'}) }}">
            <div class="add-box">
                <img src="{{ asset('images/add.png') }}" title="Ajouter de l'or à toute l'équipe" class="add-icone" alt="Or">
                <img src="{{ asset('images/gold.png') }}" title="Ajouter de l'or à toute l'équipe" class="add-icone" alt="Or">
            </div>
        </a>
        <a href="{{ path('point_multiple_new', {'winner': 'classgroup', 'number': classgroup.id, 'type': 'elixir'}) }}">
            <div class="add-box">
                <img src="{{ asset('images/add.png') }}" title="Ajouter de l'elixir à toute l'équipe" class="add-icone" alt="Elixir">
                <img src="{{ asset('images/elixir.png') }}" title="Ajouter de l'elixir à toute l'équipe" class="add-icone" alt="Elixir">
            </div>
        </a>
    </div>
    <div class="col-12">
        <div class="row justify-content-center">
            <a href="{{ path('team_index', {'classgroup' : classgroup.id}) }}">
                <div class="student-box">
                    <div>
                        <img src="{{ asset('images/logo-team.png') }}" alt="Equipes">
                        Equipes
                    </div>
                </div>
            </a>
            {% for student in classgroup.students %}
                <a href="{{ path('student_show', {'id': student.id}) }}">
                    <div class="student-box">
                        <div>
                            {% if student.avatar is empty %}
                                {% if student.isGirl == 1 %}
                                    <img src="{{ asset('images/emoticon-pouces-f.png') }}" alt="{{ student.firstname }}">
                                {% else %}
                                    <img src="{{ asset('images/emoticon-pouces-m.png') }}" alt="{{ student.firstname }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('avatars/' ~ student.avatar) }}"
                                     alt="{{ student.firstname }}">
                            {% endif %}
                            <p>{{ student.firstname }}</p>
                            <p class="win-text">
                                {{ student.gold }} <img src="{{ asset('images/gold.png') }}" class="win-image mr-2">
                                {{ student.elixir }} <img src="{{ asset('images/elixir.png') }}" class="win-image">
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <a href="{{ path('student_new', {'id' : classgroup.id}) }}">
                <div class="student-box bg-light">
                    <div>
                        <img src="{{ asset('images/add.png') }}"
                             alt="Ajouter un élève" class="add-button"
                             title="Ajouter un élève">
                    </div>
                </div>
            </a>
        </div>
        <p class="mt-3 text-center">
            {{ classgroup.students | length }} élèves
            ({% for section in classgroup.section %}
                {{section.abbreviation }}
            {% endfor %})
            {% if classgroup.school is not null %}
            <a href="{{ path('school_show', {'id' : classgroup.school.id}) }}">{{ classgroup.school.name }}</a>
            , {{ classgroup.school.city }}
            {% endif %}
        </p>
        <p class="mt-3 text-center">
            Enseignant(s) de la classe :
            {% for teacher in classgroup.teacher %}
                {{ teacher.firstname }} {{ teacher.lastname }} -
                <a href="{{ path('teacher_delete', {'classgroup' : classgroup.id, 'teacher' : teacher.id}) }}">supprimer</a><br>
            {% else %}
                Aucun enseignant associé
            {% endfor %}
        </p>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_DIRECTOR') or is_granted('ROLE_TEACHER') %}
        <div class="col-12 col-md-7 text-center">
            <p class="mt-3">
                <a href="{{ path('director_addTeacher', {'id' : classgroup.id }) }}">Ajouter un enseignant</a>
            </p>
            <p class="mt-3">
                <a href="{{ path('classgroup_edit', {'id': classgroup.id}) }}">Modifier cette classe</a>
                (ref Onde {{ classgroup.ref }})
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    Classe Royale - {{ classgroup.name }}
{% endblock %}

