<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Classe Royale{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header align-content-center">
                <div class="col-3 text-center">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('images/cr_logo_300.png') }}" class="logo-header">
                    </a>
                </div>
                <div class="col-3 text-center">
                    vide
                </div>
                <div class="col-3 text-center">
                    {% if app.user %}
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                <a href="{{ path('admin') }}">Administration</a>
                            {% endif %}
                            {% if role == "ROLE_DIRECTOR" %}
                                <a href="{{ path('director') }}">Direction</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-3 text-center">
                    {% if app.user %}
                        <a href="{{ path('user_show', {'id' : app.user.id}) }}">{{ app.user.firstname }}</a>
                         - <a href="{{ path('app_logout') }}">déconnexion</a>
                    {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </div>

            <div class="row main justify-content-center">
                <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
                <div class="col-12 p-3"></div>

            {% block body %}{% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>
    </body>
</html>
