<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Classe Royale{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg navbar-dark header p-0">
                <a href="{{ path('home') }}" class="navbar-brand">
                    <img src="{{ asset('images/cr_logo_300.png') }}" class="logo-header">
                </a>
                <button class="navbar-toggler mt-1 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mt-1 mr-2"></span>
                </button>

                <div class="collapse navbar-collapse h-100 justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav h-100">
                        
                        {% if app.user %}
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <li class="nav-item active">
                                    <a href="{{ path('admin') }}">
                                        <div class="tab-background text-right pt-3">
                                            Administration
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_DIRECTOR') %}
                                <li class="nav-item active">
                                    <a href="{{ path('director') }}">
                                        <div class="tab-background text-right pt-3">
                                            Direction
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_TEACHER') %}
                                <li class="nav-item active">
                                    <a href="{{ path('teacher') }}">
                                        <div class="tab-background text-right pt-3">
                                            Mes classes
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_PARENT') %}
                                <li class="nav-item active">
                                    <a href="{{ path('parent') }}">
                                        <div class="tab-background text-right pt-3">
                                            Enfants
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                        {% else %}
                            <li class="nav-item active">
                                <a href="{{ path('infos') }}">
                                    <div class="tab-background text-right pt-3">
                                        Infos
                                    </div>
                                </a>
                            </li>
                        {% endif %}

                        {% if app.user %}
                            <li class="nav-item active">
                                <a href="{{ path('user_show', {'id' : app.user.id}) }}">
                                    <div class="tab-background text-right pt-3">
                                        {{ app.user.firstname }} {{ app.user.lastname }}
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a href="{{ path('app_login') }}">
                                    <div class="tab-background text-right pt-3">
                                        Connexion
                                    </div>
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item active">
                            <a href="{{ path('support_index') }}">
                                <div class="tab-background text-right pt-3">
                                    <img src="{{ asset('images/help.png') }}" class="help-button">
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                </nav>

            <div class="row main justify-content-center">
                <div class="col-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger text-center mt-1 alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
                <div class="col-12 p-3 p-lg-4"></div>

            {% block body %}{% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>
    </body>
</html>
