{% extends 'base.html.twig' %}

{% block title %}Classe Royale - {{ school.name }}{% endblock %}

{% block body %}
<div class="col-12 col-md-7 text-center">
    <h3>{{ school.name }}</h3>

    {{ school.address }}, {{ school.postalCode }} {{ school.city }} ({{ school.country }})<br>
            Téléphone : {{ school.phone }}<br>
            RNE : {{ school.rne }}

    <br><a href="{{ path('school_edit', {'id': school.id}) }}">Modifier ces informations</a>

    {{ include('school/_delete_form.html.twig') }}
</div>
<div class="col-12 col-md-5 text-center">
    <h3>Les classes</h3>
    {% for classgroup in school.classgroups %}
        <a href="{{ path('classgroup_show', {'id': classgroup.id}) }}">{{ classgroup.name }}</a> ({{ classgroup.students|length }} élèves)<br>
        {% else %}
        Aucune classe dans cette école
    {% endfor %}
    <p class="mt-3">
        <a href="{{ path('import_students', {'id' : school.id}) }}" title="Importer des élèves">Importer classes et élèves depuis Onde</a><br>
        <a href="{{ path('classgroup_new') }}">Ajouter une classe manuellement</a><br>
    </p>
</div>
{% endblock %}
